<!DOCTYPE html>
<html>
<head>
	<title>Poker Online</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
	<header class="upper_bar">
        <h1 class="title">Poker Online</h1>
		<nav class="links">
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/info">Informazioni</a></li>
				<li><a href="/register">Registrazione</a></li>
				<li><a href="/login">Login</a></li>
				<li><a href="/account">Account</a></li>
			</ul>
		</nav>
	</header>
    <main>
	<div class="container">
		<h1>Benvenuti al Poker Online</h1>
		<p>Unisciti ai migliori giocatori della classe e prova la tua fortuna al poker online!</p>
		<a href="/game" class="btn-primary">Inizia a giocare</a>
	</div>
	<div class="container">
		<h2>Caratteristiche del gioco</h2>
		<ul>
			<li>Partecipa a tornei e vinci premi in p-bucks!</li>
			<li>Gioca online in tempo reale con i tuoi amici (e nemici).</li>
			<li>Classificati fra i 10 giocatori più ricchi (di p-bucks) del sito.</li>
		</ul>
	</div>
</main>

<footer>
	<p>Copyright © ITS Meccatronico Veneto 2023</p>
</footer>
</body>
</html>