<!DOCTYPE html>
<html>
<head>
  <title>Informazioni sul progetto</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
	<header class="upper_bar">
        <h1 class="title">Poker Online - Info</h1>
		<nav class="links">
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/info">Informazioni</a></li>
				<li><a href="/register">Registrazione</a></li>
				<li><a href="/login">Login</a></li>
				<li><a href="/account">Account</a></li>
			</ul>
		</nav>
	</header>
  <main>
    <div class="about">
        <h2>Informazioni sul progetto</h2>
      <p>Questo sito web è un progetto per il corso "ITS Meccatronico Veneto" creato da Vittoria Marella, Nicola Dare e Stefano di Giammarino per l'argomento "architettura dei sistemi di elaborazione". Il sito web è stato realizzato utilizzando Python con la libreria Flask.</p>
    </div>
  </main>
  <footer>
	<p>Copyright © ITS Meccatronico Veneto 2023</p>
  </footer>
</body>
</html>